$principalFont:'Montserrat', sans-serif;

//Colours
$green: #4cB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
//$black: #000;
$white: #FFF;



//Media Queries
$tel: 468px;
$tablet: 768px;
$desktop: 1200px;

//Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Division
$range: 5rem;