.header {
    background-color: $green;

    .content-header {
        padding: calc($range / 2) 0;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }
    }

    h1 {
        color: $white;  
        margin-bottom: 1rem; 
        text-align: center;
        @include tablet {
            margin-bottom: 0;
        }    
    }
}

.principal-navigation {
    display: flex;
    gap: 2rem;
    justify-content: center;

    a {
        color: $white;
        font-size: 2rem;
        &:hover{  //& hace referencia al selector padre, en este caso a.
            color: $yellow;
        } 
    }
}

